html, body {
    border-width: 2px;
    height: 99%;
    margin: 3px;
    /*border-style: solid;
    border-color: green;*/
}

.float-parent {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    display: flex;
    margin: 3px;
    padding: 5px;
    height: inherit;
    /*object-fit: contain;*/
}

.float-child {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    margin: 3px;
    padding: 5px;
    justify-content: center;
    width: 50%;
    height: 90%%;
}

#div{
    width: 100%;
    height: 100%;
}

.JS9{
    resize: None !important;
    width: auto !important;
    height: 85% !important;
}