<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <meta name="author" content="mulan-94">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <style>
    h1 {
      border: 20px dashed rgba(255, 192, 203, 0.678);
      text-align: center;
      vertical-align: center;
      font-family: "Bangers";
      font-size: 50px;
      padding:20%;
    }

    span {
      background-color: red;
    }
  </style>
</head>
<body>
  <h1> Door Number <span> 404 </span> Nothing to See Here </h1>
</body>
</html>