<!DOCTYPE html>
<html>
    <head>
        <!-- JS9 imports -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" > 
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <link type="image/x-icon" rel="shortcut icon" href="./favicon.ico">
        <link type="text/css" rel="stylesheet" href="js9support.css">
        <link type="text/css" rel="stylesheet" href="js9.css">
        <script type="text/javascript" src="js9prefs.js"></script>
        <script type="text/javascript" src="js9support.min.js"></script>
        <script type="text/javascript" src="js9.min.js"></script>
        <script type="text/javascript" src="js9plugins.js"></script>

        <!-- Bokeh stuff-->
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.2.min.js"></script>
        
        <title>JS9</title>
    </head>
    <body>
        <div id="main-js9-div">
            <div class="JS9Menubar"></div>
            <div class="JS9Toolbar"></div>
            <div class="JS9"></div>
            <div style="margin-top: 2px;"><div class="JS9Statusbar"></div></div>
        </div>

    </body>
</html>